*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#0f1115;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

.container{
    width:380px;
    background:#181b22;
    border-radius:25px;
    padding:25px;
    box-shadow:0 10px 30px rgba(0,0,0,.35);
}

.logo{
    text-align:center;
    font-size:38px;
    font-weight:bold;
    color:#6CFF6C;
    margin-bottom:10px;
}

.subtitle{
    text-align:center;
    color:#a5a5a5;
    margin-bottom:25px;
}

.button{
    background:#6CFF6C;
    color:#111;
    padding:15px;
    border-radius:15px;
    text-align:center;
    font-weight:bold;
    margin-top:20px;
}
